@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Regular.otf);
}
@font-face {
    font-family: "Montserrat-semibold";
    src: url(../fonts/Montserrat-SemiBold.otf);
}
@font-face {
    font-family: "Montserrat-bold";
    src: url(../fonts/Montserrat-Bold.otf);
}
@font-face {
    font-family: "Montserrat-extrabold";
    src: url(../fonts/Montserrat-ExtraBold.otf);
}
@font-face {
    font-family: "Montserrat-light";
    src: url(../fonts/Montserrat-Light.otf);
}
@font-face {
    font-family: "Montserrat-extralight";
    src: url(../fonts/Montserrat-ExtraLight.otf);
}