/* For Michael Only */

body {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    position: relative;
    color: white;
    font-weight: normal;
    width: 100%;
    overflow-x: hidden;
}
li.nav-item {
    margin-right: 20px;
}

nav.navbar.scrolled-nav {
    background-color: rgba(0, 0, 0, 0.7);
}
nav.navbar.scrolled-nav  .navbar-nav .nav-link {
    color: white;
}
/* Home Styles */
section#home {
    padding-top: 80px;
    height: 100vh;
    min-height: 500px;
    position: relative;
}
#home .container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
h1.home-title {
    font-family: "Montserrat-semibold", sans-serif;
    font-size: 70px;
    line-height: 66px;
}
p.home-desc {
    font-size: 21px;
    font-family: "Montserrat";
}
button.sign-btn {
    font-size: 27px;
    height: 58px;
    min-width: 190px;
    border: none;
    background: #C90404;
    color: white;
    margin-top: 40px;
}
img.group-people {
    width: 50%;
}
img.red-rectangle {
    position: absolute;
    top: 0;
    right: 0;
    width: 52%;
}
button.btn.btn-danger {
    background: #C90404;
    height: 42px;
    width: 150px;
    margin-left: 10px;
    border: none;
}

@media(max-height: 700px) {
    img.red-rectangle {
        width: 48%;
    }
}
/* end of Home Styles */


/* Earning Styles */
section#earning {
    color: white;
    margin: 50px 0 50px;
    padding: 40px 0 20px;
}
h2.earning-title {
    font-size: 64px;
    line-height: 62px;
}
p.ads {
    font-size: 23px;
    line-height: 25px;
    font-family: "Montserrat-extralight", sans-serif;
    margin: 20px 0 10px;
}
h3.flex-equation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sign-symbol {
    position: relative;
    top: 18px;
}
p.engagement{
    color: #818992;
    font-size: 16px;
    font-family: "Montserrat-extralight", sans-serif;
}
img.lady-img {
    width: 100%;
}
/* end of Earning Styles */


/* Perks  */
section#perks {
    color: white;
    padding: 50px 60px;
    margin:  80px 20px 80px 40px;
    
}

h2.enjoy {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.one {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.free {
    margin-top: 30px;
    padding-left: 20px;
}
.bees {
    font-size: 14px;
    line-height: 25px;
    font-family: "Montserrat-extralight", sans-serif;
    padding-left: 20px;
}
.Two {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top {
    margin-top: 30px;
    padding-left: 20px;
}
.events {
    font-size: 14px;
    line-height: 25px;
    font-family: "Montserrat-extralight", sans-serif;
    padding-left: 20px;
}
.three{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cash {
    margin-top: 30px;
    padding-left: 20px;
}
.cash-3 {
    font-size: 14px;
    line-height: 25px;
    font-family: "Montserrat-extralight", sans-serif;
    padding-left: 20px;
    
}
.Four {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.stan {
    margin-top: 30px;
    padding-left: 20px;
}
.social {
    font-size: 14px;
    line-height: 25px;
    font-family: "Montserrat-extralight", sans-serif;
    padding-left: 20px;
}
.one {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.free {
    margin-top: 30px;
    padding-left: 20px;
}
.bees {
    font-size: 14px;
    line-height: 25px;
    font-family: "Montserrat-extralight", sans-serif;
    padding-left: 20px;
}
img.male-img {
   width: 75%;
}

/* End of perks  */



/* text- box */

#register {
    background-image: url("../img/red-BG.png");
    background-position: center;
    padding: 50px 0 30px;
    background-color: #760000;
}
h1.click {
    font-size: 74px;
    letter-spacing: -3px;
}
p.away {
    font-size: 28px;
}
/* .search-input {
    display: flex;
   align-items: center;
   border: 1px solid #FFFFFF;
   background-color: #760000;
   padding: 8px ;
   border-radius: 18px;
   margin: 0 auto;
   margin-top: 20px;
}

.search-input input {
    flex: 1;
    padding: 10px 20px;
    background-color:#760000;
    border: none;
    outline: none;
} */

.search-input {
    position: relative;
    padding: 5px 20px;
}
.search-input input.input-field {
    width: 100%;
    background: transparent;
    border: 1px solid white;
    border-radius: 22px !important;
    height: 56px;
    color: white;
    padding: 0 12px;
    outline: none;
}
.search-input img {
    position: absolute;
    right: 40px;
    top: 35%;
    height: 20px;
}

button.a-stan {
    font-weight: 600;
    font-size: 27px;
    margin: 60px auto 30px;
    border-radius: 35px;
    padding: 10px;
    width: 90%;
    color: #C90404;
    border: none;
    max-width: 400px;
}

/* end text-box */

footer { 
   
    align-items: center; 
    justify-content: center; 
  } 

  .links .footer-link {
      padding-top: 20px;
      text-decoration: none;
    color: #FFFFFF;
  }

  footer.media {
      margin-top: 20px;
  }
  .logo-2 img {
    max-width: 100%;
}